.bio {
  margin-bottom: 3rem;
}

.bio h2 {
  margin-bottom: 1em;
  font-size: var(--fs-sm);
  font-family: var(--ff-secondary);
  color: var(--clr-light-shade);
}

.bio p + p {
  margin-top: 1rem;
}

.bio li {
  list-style: none;
}

.bio figcaption {
  font-size: var(--fs-sm);
  margin-top: 0.5em;
}

.bio figure {
  margin-bottom: 2em;
}

.bio figure picture {
  border: 1px solid var(--clr-tint);
}

.grid {
  display: grid;
  grid-gap: 1em;
}

.bio .btn {
  grid-column: 1 / -1;
}

figcaption {
  text-align: center;
}

@media screen and (min-width: 999px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 0 3em;
  }

  .bioText {
    font-size: var(--fs-base);
  }

  .bioText ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }

  .bioText ul li {
    margin: 0 0.5em 0.125em 0;
  }

  figcaption {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .bioText {
    font-size: var(--fs-md);
  }
}
