.cv {
  padding-top: 2rem;
}

.category {
  font-family: var(--ff-secondary);
  color: var(--clr-light);
  margin-top: 3em;
  font-size: var(--fs-base);
  padding-left: 1em;
}

.entry {
  color: var(--clr-light-shade);
  padding: 1em;
  /* padding: 1em 0; */
  /* border-bottom: 1px solid var(--clr-tint); */
}

.edu:nth-child(even) {
  background-color: var(--clr-dark-tint);
}

.job:nth-child(odd) {
  background-color: var(--clr-dark-tint);
}

@media screen and (min-width: 767px) {
  .entry {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
  }

  .timeframe,
  .school, 
  .company {
    justify-self: end;
    text-align: right;
  }
}
