.cv {
  margin-top: 6rem;
  border-top: 1px solid var(--clr-tint);
  padding-top: 6rem;
}

.category {
  font-family: var(--ff-secondary);
  color: var(--clr-light);
  margin-top: 3em;
  font-size: var(--fs-base);
}

.entry {
  color: var(--clr-light-shade);
  padding: 1em 0;
  border-bottom: 1px solid var(--clr-tint);
}

@media screen and (min-width: 767px) {
  .entry {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
  }

  .timeframe {
    justify-self: end;
  }

  .school,
  .company {
    justify-self: end;
  }
}

/* Old styles */

.cv table {
  width: 100%;
  font-size: var(--fs-base);
  color: var(--clr-light-shade);
  table-layout: auto;
  border-spacing: 0;
}

@media screen and (max-width: 830px) {
  .cv table {
    font-size: var(--fs-sm);
  }
}

.cv table th {
  text-align: left;
  font-family: var(--ff-secondary);
  color: var(--clr-light);
}

.cv thead tr th {
  padding-top: 3em;
}

.cv td {
  padding: 1.5em 0.5em;
  border-bottom: 1px solid var(--clr-tint);
}

.cv table td {
  text-align: right;
}

.cv table td:first-of-type {
  text-align: left;
}

.cv h3 {
}
