.cv {
  margin-top: 6rem;
  border-top: 1px solid var(--clr-tint);
  padding-top: 6rem;
}

.category {
  font-family: var(--ff-secondary);
  color: var(--clr-light);
  margin-top: 3em;
  font-size: var(--fs-base);
}

.entry {
  color: var(--clr-light-shade);
  padding: 1em 0;
  border-bottom: 1px solid var(--clr-tint);
}

@media screen and (min-width: 767px) {
  .entry {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
  }

  .timeframe {
    justify-self: end;
  }

  .school,
  .company {
    justify-self: end;
  }
}
