.featured header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 1em;
}

.featured header a,
.featured header h2 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-sm);
}

.featured header a {
  text-align: right;
}

.projectCard {
  filter: grayscale(100%);
  transition: all 0.25s linear;
}

.projectCard:hover {
  filter: grayscale(0%);
}

.projectCard img {
  background: radial-gradient(var(--clr-tint), var(--clr-dark));
}

.projectCard:first-child {
  grid-column: 1 / -1;
}

.projectCard .title {
  border-bottom: 1px solid var(--clr-light);
  font-size: var(--fs-xl);
  padding-bottom: 0.75em;
  margin: 0 0 2em 0;
}

.projectCard .type {
  font-family: var(--ff-secondary);
  font-size: var(--fs-sm);
  margin: 1em 0;
}

@media screen and (min-width: 900px) {
  .projectContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4em;
  }

  .projectCard .title {
    border-bottom: 5px solid var(--clr-light);
    padding-bottom: 1.25em;
  }
}
