.footer {
  margin-top: 5rem;
  border-top: 1px solid var(--clr-tint);
  padding: 5rem 2rem;
  margin-left: -4rem;
  margin-right: -4rem;
}

.inner {
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  position: relative;
  padding: 4rem 0;
}

.watermark {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.02;
  z-index: -1;
}

.watermark img {
  height: 100%;
  object-fit: contain;
}

.footerPart {
  margin-bottom: 2em;
  text-align-last: left;
}

.footer h4 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-xsm);
  margin: 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.footer a {
  font-size: var(--fs-sm);
}

@media screen and (min-width: 1000px) {
  .inner {
    grid-template-columns: 1fr 1fr 1fr 2fr;
  }
}

@media screen and (max-width: 999px) {
  .inner {
    grid-template-columns: 1fr 1fr;
  }

  .watermark {
    top: 50%;
    transform: translateY(-50%);
  }

  .watermark img {
    max-height: 15rem;
  }
}

@media screen and (max-width: 510px) {
  .inner {
    grid-template-columns: 1fr;
  }

  .footer {
    margin-top: 5rem;
    padding: 2rem 2rem;
  }
}
