@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto+Mono:wght@400&display=swap");

:root {
  /* Colors */
  --clr-dark: #14181a;
  --clr-dark-shadow: #14181a27;
  --clr-tint: #2c353a;
  --clr-light: #f3f5f6;
  --clr-light-shade: #b7c1c8;
  --clr-heart: #940079;

  /* Font family */
  --ff-main: "Open Sans", sans-serif;
  --ff-secondary: "Roboto Mono", monospace;

  /* Font sizes */
  --fs-xsm: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 3rem;
  --fs-ultra: 5rem;

  /* Border radiusesesesssesss */
  --br-xsm: 2px;
  --br-sm: 4px;
  --br-base: 8px;
  --br-md: 12px;
  --br-lg: 24px;
  --br-xl: 36px;

  /* Breakpoints */
  --bp-xl: 1824px;
  --bp-lg: 1224px;
  --bp-md: 1024px;
  --bp-sm: 768px;
  --bp-xsm: 640px;
  --bp-mini: 321px;
}

/* 
** Modern CSS Reset
** By Andy Bell 
** https://github.com/hankchizljaw/modern-css-reset/blob/master/src/reset.css
*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*
** Credit: 
*/

html {
  box-sizing: border-box;
  font-size: 100%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 1rem 0 0 0;
  font-family: var(--ff-main);
  line-height: 1.618;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  position: relative;
  overflow-x: hidden;
}

.layout {
  padding-left: 12rem;
  padding-right: 4rem;
  max-width: 1500px;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .layout {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

a {
  color: var(--clr-light-shade);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.125s linear;
}

a:hover {
  color: var(--clr-light);
}

.btn {
  padding: 0.75em 1.5em;
  border: 1px solid var(--clr-light);
  font-family: var(--ff-secondary);
}
