.header {
  padding-top: 1.5em;
  width: 8rem;
  border-right: 1px solid var(--clr-tint);
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.header img {
  width: 1.6rem;
}

.header p {
  transform: rotate(-90deg);
  transform-origin: center center;
  width: max-content;
  margin-bottom: 6rem;
  color: var(--clr-light-shade);
}
