.hero {
  padding: 8rem 0;
  margin-top: 5em;
}

.hero h1 {
  font-size: var(--fs-xxl);
  line-height: 1.4;
  max-width: 33ch;
}

@media screen and (max-width: 767px) {
  .hero h1 {
    font-size: var(--fs-xl);
  }
}

@media screen and (max-width: 640px) {
  .hero h1 {
    font-size: var(--fs-lg);
  }
}

.hero p {
  font-family: var(--ff-secondary);
  font-size: var(--fs-sm);
  color: var(--clr-light-shade);
  margin: 0 0 2em 0;
  line-height: 1.618;
  max-width: 46ch;
}

.bankar {
  color: var(--clr-heart);
  animation: heartBeat 1s ease-in-out infinite;
  display: inline-block;
  position: relative;
}

.bankar::before {
  content: "💞";
  position: absolute;
  top: -1em;
  right: 1em;
  font-size: 2rem;
  transform: rotate(23deg);
  opacity: 0.75;
}

@keyframes heartBeat {
  0% {
    transform: scale(0.95);
  }
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(0.95);
  }
}
