.introAbout {
  margin: 8rem 0;
}
.introAbout h2 {
  font-family: var(--ff-secondary);
  font-size: var(--fs-sm);
}

.introAbout p {
  font-size: var(--fs-xl);
}

@media screen and (max-width: 768px) {
  .introAbout p {
    font-size: var(--fs-lg);
    margin-bottom: 2em;
  }
}
