.logo {
  width: 1.6rem;
  transition: opacity 0.25s linear;
}

.logo:hover {
  opacity: 0.65;
}

@media screen and (min-width: 767px) {
  .logo {
    position: fixed;
    top: 2.25rem;
    left: 3rem;
  }
}
