.navbar {
  font-size: var(--fs-sm);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 2rem;
  z-index: 1000;
  box-shadow: 0 0 6px 12px var(--clr-dark-shadow);
  background-color: var(--clr-dark);
}

.inner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 600;
}

.navLinks {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  position: absolute;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100vh;
  background: bottom 10rem right 2rem / 5rem no-repeat var(--clr-dark)
    url("/logo_white.svg");
  background-blend-mode: overlay;
  padding: 2rem 2rem 6rem 2rem;
  transition: left 0.25s ease;
  opacity: 0;
}

.navLinks.open {
  left: 0;
  opacity: 1;
}

.navLinks a {
  padding: 0.5em 0;
  font-weight: 600;
  font-size: var(--fs-md);
  opacity: 0;
  transition: opacity 0.125s linear, color 0.25s linear;
  display: inline-block;
}

.navLinks.open a {
  animation: fadeUp 0.25s ease forwards;
  animation-delay: 0.1s;
}

.navLinks.open a:nth-child(2) {
  animation-delay: 0.2s;
}
.navLinks.open a:nth-child(3) {
  animation-delay: 0.3s;
}
.navLinks.open a:nth-child(4) {
  animation-delay: 0.4s;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 767px) {
  .name {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fs-sm);
    position: fixed;
    top: 0;
    width: auto;
    padding: 2rem 0;
    z-index: 1000;
    background-color: var(--clr-dark);
    box-shadow: 0 0 6px 12px var(--clr-dark-shadow);
    max-width: var(--maxWidth);
    margin: 0 auto;
  }

  .name {
    margin-right: auto;
  }

  .inner {
    padding-left: 12rem;
    padding-right: 4rem;
    max-width: var(--maxWidth);
    margin: 0 auto;
  }

  @media screen and (max-width: 767px) {
    .inner {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  .navLinks {
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: flex-end;
    position: static;
    width: auto;
    height: auto;
    background: none;
    z-index: 5000;
    padding: 0;
    transition: left 0.25s ease;
    opacity: 1;
  }

  .navLinks a {
    padding: 0.5em 0;
    font-weight: 600;
    font-size: var(--fs-sm);
    opacity: 1;
    margin-right: 1.5em;
    display: inline-block;
  }

  .navLinks a:last-of-type {
    margin-right: 0;
  }
}
