/* .projectsContainer {
  display: grid;
  grid-gap: 2em;
}

.projectCard img {
  background-color: var(--clr-tint);
  background: radial-gradient(var(--clr-tint), var(--clr-dark));
  filter: grayscale(100%);
  transition: all 0.25s linear;
}

.projectCard:hover img {
  transition: all 0.25s linear;
  filter: grayscale(0%);
}

.projectCard:first-of-type {
  grid-column: 1 / -1;
}

@media screen and (min-width: 768px) {
  .projectsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
} */
