.skills {
  margin-top: 3em;
}

.skills h3 {
  font-size: var(--fs-base);
  font-family: var(--ff-secondary);
}

.skillsContainer {
  padding: 0;
  margin-top: 1.5em;
}

.skillsContainer li {
  color: var(--clr-light-shade);
  margin-right: 2em;
  margin-bottom: 1em;
  list-style: none;
  padding: 0;
}

@media screen and (min-width: 648px) {
  .skillsContainer {
    display: flex;
    flex-wrap: wrap;
  }

  .skillsContainer li {
    padding-right: 2em;
    border-right: 1px solid var(--clr-tint);
  }
}
